@model IEnumerable<ITMO.ASP.StudentRecords.DAL.Models.StudentAllModel>
@{
    ViewBag.Title = "Info";
}

<div class="info-content">
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.ScoreValue)</th>
                <th>Score description</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.LastName</td>
                            <td>@item.FirstName</td>
                            <td>@item.ScoreValue</td>
                            <td>@item.ScoreDescription</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<div class="info-content">
    <p class="valudation-message">@ViewBag.Message<p>
</div>
